body {
  width: 80%;
}

.ore {
  width: 128px;
  height: 128px;
  float: left;
}

.balloon:after {
  z-index: -1;
  content: "";
  position: absolute;
  top: 15px;
  left: -20px;
  margin-top: 10px;
  margin-left: 180px;
  display: block;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 10px 30px 10px 0;
  border-color: transparent #EAF3FE transparent transparent;
}

.balloon {
  width: 600px;
  min-height: 50px;
  margin-left: 180px;
  padding: 5px 10px 3px;
  border-radius: 10px;
  background-color: #EAF3FE;
}
